<div class="container">
    <div class="row">
        <div class="form-group">
            {{ form_start(form, {'attr': {'autocomplete': 'off', 'enctype':"multipart/form-data"}}) }}
            <label for="SKU">SKU</label>
            {{ form_widget(form.SKU, {'attr': {'id': 'SKU', 'class': 'form-control', 'style': 'margin-bottom: 2%'}}) }}
        </div>
        <div class="form-group d-flex flex-column">
            {% for option in form.options %}
                <div class="row">
                    <div class="col-12">
                        <label for="{{ option.children.type.vars.id }}">{{ option.children.type.vars.value }}</label>
                        <input id="{{ option.children.type.vars.id }}" type="text"
                               name="{{ option.children.type.vars.full_name }}" value="{{ option.children.type.vars.value }}"
                               style="display: none">
                        <select class="form-select" name="{{ option.children.value.vars.full_name }}"
                                id="{{ option.children.value.vars.id }}">
                            {% for value in options[option.vars.value.type] %}
                                <option value="{{ value.value }}">{{ value.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="image">Images Sku</label>
                    <input type="file" name="image" accept="image/*;capture=camera" hidden>
                    {{ form_widget(form.picture_1, {'attr': {'id': 'picture-1', 'class': 'form-control', 'placeholder': 'Photo 1'}}) }}
                    <a onclick="takePicture1()" class="btn btn-primary"><i class="fas fa-camera"></i></a>
                    {{ form_widget(form.picture_2, {'attr': {'id': 'picture-2', 'class': 'form-control', 'placeholder': 'Photo 2'}}) }}
                    <a onclick="takePicture2()" class="btn btn-primary"><i class="fas fa-camera"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-3">
                <button class="btn btn-primary p-3" type="submit">{{ button_label|default('Créer') }}</button>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
        <video id="video" playsinline autoplay style="display: none"></video>
        <canvas id="canvas" width="720" height="720" style="display: none"></canvas>

    </div>
</div>

<script>
    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const errorMsgElement = document.getElementById("span#ErrorMsg");

    const constraints = {
        audio: false,
        video: {
            width: 720,
            height: 720,
        },
    };

    async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        } catch (e) {

        }
    }

    function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;
    }

    init();

    var context = canvas.getContext("2d");

    function takePicture1() {
        context.drawImage(video, 0, 0, 720, 720);
        var img1 = canvas.toDataURL("image/png");
        document.getElementById("picture-1").value = img1;
    }

    function takePicture2() {
        context.drawImage(video, 0, 0, 720, 720);
        var img2 = canvas.toDataURL("image/png");
        document.getElementById("picture-2").value = img2;
    }

</script>
