{% extends 'base.html.twig' %}

{% block title %}Sku{% endblock %}

{% block body %}
<div class="content" style="display: flex; flex-direction: column; align-items: center">

    <h1 style="font-size: 5rem">Administrer listes</h1>
    <a href="{{ path('sku_index') }}" class="btn btn-primary" style="font-size: 1.5rem; position: absolute; top: 5%; left: 10%; transform: translate(-50%, -50%)">Accueil</a>

    <div class="form-content" style="width: 30%; text-align: center; margin-top: 2%">
        {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
            <select class="form-select" name="{{ form.children.type.vars.full_name }}" id="{{ form.children.type.vars.id }}">
                {% for typeName in types %}
                    <option value="{{ typeName }}">{{ typeName }}</option>
                {% endfor %}
            </select>
            <div class="input-group"  style="margin: 3% 0">
                {{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}
                <button class="btn btn-primary" type="submit">{{ button_label|default('Créer') }}</button>
            </div>
            <div class="input-group"  style="margin: 3% 0">

            </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

        <table class="table table-striped" style="border: 1px solid #000000;">
            <thead>
            <tr>
                <th>Type</th>
                <th>Valeur</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options|sort((a, b) => a.type <=> b.type) %}
                <tr>
                    <td>{{ option.type }}</td>
                    <td>{{ option.value }}</td>
                    <td>
                        <a href="{{ path('option_delete', {'id': option.id}) }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">Pas d'option existante</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
