{% extends 'base.html.twig' %}

{% block title %}Sku{% endblock %}

{% block body %}

    <div class="content" style="display: flex; flex-direction: column; align-items: center">

        <h1 style="font-size: 5rem">Liste dossiers</h1>
        <a href="{{ path('sku_index') }}" class="btn btn-primary" style="font-size: 1.5rem; position: absolute; top: 5%; left: 10%; transform: translate(-50%, -50%)">Accueil</a>

        <form action="{{ path('sku_export') }}" method="post" style="width: 75%; text-align: center;  margin-top: 2%">
            <table class="table table-striped" style="border: 1px solid #000000;">
                <thead>
                <tr>
                    <th>Sélectionner</th>
                    <th>Numéro de dossier</th>
                    <th>Exporté</th>
                    <th>Date de création</th>
                    <th>Modifier</th>
                </tr>
                </thead>
                <tbody>
                {% for sku in skus %}
                    <tr>
                        <td> <input class="form-check-input" type="checkbox" value="{{ sku.id }}" name="{{ "sku_" ~ sku.id }}"></td>
                        <td>{{ sku.id }}</td>
                        <td>{{ sku.exported ? 'Yes' : 'No' }}</td>
                        <td>{{ sku.createdAt ? sku.createdAt|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('sku_edit', {'id': sku.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="14">Pas de dossier existant</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Exporter</button>
        </form>
    </div>

{% endblock %}
