{{ form_start(form, {
    attr: {
        class: 'sku-form'
    }
}) }}

<div class="form-group">
    {{ form_row(form.norlogReference,  {
        attr: {
            placeholder: 'Référence du dossier',
            class: 'sku-form-input'
        }
    }) }}
</div>

<div class="form-group sku-row skus" data-prototype="{{ form_widget(form.skus.vars.prototype)|e('html_attr') }}">
    {% if form.skus %}
    {% for sku in form.skus %}
        <div class="row sku-bloc bg-light">
            <div class="field-title">
{#                <a href="#" class="btn btn-danger delete-field">#}
{#                    <i class="fas fa-trash-alt"></i>#}
{#                </a>#}
                <p class="display-3 text-center">Produit #{{ loop.index }}</p>
            </div>
            <span class="btn btn-secondary form-extend-btn">Voir</span>
            <div class="col-12 sku-fields-bloc">
                    <div class="form-control">
                        {{ form_row(sku.SKU, {
                            attr: {
                                placeholder: 'SKU du produit',
                                class: 'sku-form-input'
                            }
                        }) }}
                    </div>
                    <div class="form-control option-control" style>
                        {{ form_row(sku.options, {
                            attr: {
                                placeholder: 'Options du produit',
                                class: 'sku-form-input p-2 p-2'
                            }
                        }) }}
                    </div>
                    <div class="form-control">
                        {{ form_row(sku.picture_1, {
                            attr: {
                                placeholder: 'Image 1',
                                class: 'sku-form-input'
                            }
                        }) }}
                    </div>
                    <div class="form-control">
                        {{ form_row(sku.picture_2, {
                            attr: {
                                placeholder: 'Image 2',
                                class: 'sku-form-input'
                            }
                        }) }}
                    </div>
                </div>
        </div>
    {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-12">
                Pas encore de Sku lié au colis
            </div>
        </div>
    {% endif %}

</div>

<div class="container form-actions d-flex justify-content-center align-items-center flex-wrap w-100">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="skus">
                Ajouter SKU
            </button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}