<div class="form-content" style="width: 40%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center">
    {{ form_start(form) }}
    {{ form_widget(form.SKU, {'attr': {'class': 'form-control', 'placeholder': 'SKU'}}) }}
    {% for option in form.options %}
    <div class="input-group" style="margin-top: 3%">
        {{ form_widget(option, {'attr': {'class': 'form-control'}}) }}
        <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i></a>
    </div>
    {% endfor %}
    <div class="input-group" style="margin-top: 3%">
        {{ form_widget(form.picture_1, {'attr': {'class': 'form-control', 'placeholder': 'Photo 1'}}) }}
        <a href="#" class="btn btn-primary" style="margin-right: 15px; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem"><i class="fas fa-camera"></i></a>
        {{ form_widget(form.picture_2, {'attr': {'class': 'form-control', 'placeholder': 'Photo 2', 'style': 'border-top-left-radius: .25rem; border-bottom-left-radius: .25rem'}}) }}
        <a href="#" class="btn btn-primary"><i class="fas fa-camera"></i></a>
    </div>
    <button class="btn btn-primary" style="font-size: 1.5rem; margin-top: 5%">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
</div>
