{% extends 'base.html.twig' %}

{% block title %}Dossiers Créés{% endblock %}

{% block body %}
    <div class="container-fluid">
        {# <a href="{{ path('sku_index') }}" class="btn btn-primary">Accueil</a> #}

        <div class="row">
            <div class="col-12 d-flex justify-content-around align-items-center p-3">
                <a href="{{ path('app_index') }}" class="btn btn-primary display-3">Accueil</a>
                <h1 class="display-2">Liste des dossiers</h1>
                <a href="{{ path('option_list') }}" class="btn btn-primary display-3">Gérer Options</a>
            </div>
            <hr style="height: 2px">
        </div>

        <hr style="height: 2px;">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Numéro de dossier</th>
                <th scope="col">Date de création</th>
                <th scope="col">Modifier/Ajout Sku</th>
            </tr>
            </thead>
            <tbody>
            {% for folder in folders %}
                <tr>
                    <th scope="row">{{ folder.norlogReference }}</th>
                    <td>{{ folder.createdAt ? folder.createdAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('folder_edit', {'id': folder.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">Pas de dossier existant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <a class="btn btn-primary" href="{{ path('sku_export') }}">Exporter Skus</a>
                <a class="btn btn-primary" href="{{ path('sku_list') }}">Lister Skus</a>
            </div>
        </div>

    </div>

{% endblock %}
