{% extends 'base.html.twig' %}

{% block title %}Liste des dossiers{% endblock %}

{% block pageName%}Liste des dossiers{% endblock%}

{% block body %}
    <div class="container-fluid">
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Numéro de dossier</th>
                <th scope="col">Date de création</th>
                <th scope="col">Modifier/Ajout Sku</th>
            </tr>
            </thead>
            <tbody>
            {% for folder in norlogFolders %}
                <tr>
                    <th scope="row">{{ folder.norlogReference }}</th>
                    <td>{{ folder.createdAt ? folder.createdAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <a class="btn btn-xl btn-primary" href="{{ path('folder_edit', {'id': folder.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">Pas de dossier existant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation justify-content-center mt-4">
            {{ knp_pagination_render(norlogFolders) }}
        </div>

        <div class="row d-flex justify-content-center align-items-center mt-1">
            <div class="col-12">
                <a class="btn btn-primary btn-nav w-100 m-2" href="{{ path('sku_export') }}">Exporter Skus</a>
                <a class="btn btn-info btn-nav w-100 m-2" href="{{ path('sku_list') }}">Lister Skus</a>
            </div>
        </div>
    </div>

{% endblock %}
