{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
{{ form_label(form.name) }}
{{ form_widget(form.name,  {
    attr: {
        placeholder: 'Addidas',
        class: 'sku-form-input mb-2'
    }
}) }}
<div class="row">
    <div class="col-12">
        <button class="btn btn-xl btn-success">{{ button_label|default('Save') }}</button>
        <a class="btn btn-xl btn-primary m-1" href="{{ path('marque_index') }}">Retour aux marques</a>
    </div>
</div>
{{ form_end(form) }}
